*{
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
    width: 600px;
    width:90%;
    min-height: 250px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
}
.container h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.buttons{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid rgb(80, 164, 192)
}
.buttons button{
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background: rgb(57, 146, 175);
    color: #fff;
    width: 150px;
    font-size: 16px;
    cursor: pointer;
}
.buttons button:hover{
    background: rgb(92, 161, 184);
}
.icons{
    display:flex;
    gap:25px;
}
.icons i{
    font-size: 25px;
    cursor: pointer;
}
.ribbon{
    width:150px;
    height:150px;
    overflow:hidden;
    position: absolute;

}
.ribbon:after,
.ribbon:before{
    position:absolute;
    z-index:-1;
    content:"";
    display:block;
    border:5px solid #2980b9;
}

.ribbon span{
    position:absolute;
    width: 225px;
    padding:15px 0;
    background-color: lightblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 "oswald", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
}
.ribbon-top-left{
    top:-10px;
    left:-10px;
}
.ribbon-top-left:before,
.ribbon-top-left:after{
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left:before{
    top:0;
    left:0;
}
.ribbon-top-left:after{
    bottom:0;
    right:0;
}
.ribbon-top-left span{
    left:-25px;
    top:30px;
    transform:rotate(-45deg);
}